body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}

body header{
    display: flex;
    flex-direction: column;
}

body header div#title {
    margin-left: 70px;
    width: 50%;
}
body header div#title p{
    color:#D2872C
}

body header div#links {
    display: flex;
    flex-direction: row-reverse;
    width: revert;
    width: 100%;
}

body header div#links a {
    text-decoration: none;
    width: 7%;
}

body div#textoPrincipal{
    float: left;
    width: 50%;
    margin-left: 5%;
}

body div#textoPrincipal h1{
    max-width: 50%;
    max-height: 80%;
    height: 100%;
    margin-bottom: 30px;
    font-size: 40px;
}

body div#textoPrincipal p{
    max-width: 50%;
    max-height: 80%;
    height: 100%;
    font-size: 20px;
}


body div#team{
    max-width: 100%;
    max-height: 50%;
    display: flex;
    justify-content: end;
}
body div#team {
    max-width: 100%;
    max-height: 50%;
    display: flex;
    justify-content: end;
    float: right;  

}

body div#team img{
    max-width: 100%;
    max-height: 100%;
    height: 50%;
    width: 50%;
    display: flex;
    margin-top: 0px;
}