*{
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
html body header{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}

html body header div#title{
    display: grid;
    justify-content: flex-start;
    margin: 10px;
}

html body header div#title h2{
    color: #D2872C;
    margin-left: 10px;
}

html body header div#links{
    display: flex;
justify-content: end;
align-items: center;
}

html body header div#links a{
    margin-right: 16px;
    font-size: 20px;
    color: #766F68;
    font-weight: 500;

}

html body div#corpo{
    display: flex;
margin-top: 50px;
justify-content: space-between;
align-items: center;
}

html body div#corpo div#start{
    margin-left: 8%;
    position: relative;
    left: -24px;
    top: -52px;
    display: block;
}

html body div#corpo div#imagem{
    display: flex;
    justify-content: flex-start;
    padding: 10px 5px;
    width: 80%;
    margin-top: 5%;
}

div#corpo div#imagem img{
    display: flex;
    justify-content: flex-start;
    padding: 10px 5px;
    width: 65%;
    margin-top: 5%;
    z-index: -1;
    position: absolute;
    left: 466px;
    top: 80px;
}

div#corpo{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}


div#start h1{
    font-family: 'Roboto', sans-serif;
    font-size: 74px;
    color: #766F68;
    max-width: 1000px;
    position: relative;
    left: -4px;
}

div#start p{
    color: #766F68;
    font-size: 30px;
    font-weight: 500;
}

div#corpo div#start div#botao{
    margin-top: 20%;
}
div#corpo div#start div#botao a{
    padding: 1em 5em;
    background-color: #D2872C;
    border-radius: 9px;
    color: white;
    font-weight: 556;
    font-size: 15px;
}